.block-number {
  display: inline;
}

.block-hash {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction {
  padding: 1%;
  margin: 1px 1px !important;
  display: inline-block;
  background: #7adfbb !important;
}

.block-link {
  text-decoration: none;
}
