.nav-container.nav-contrast-border {
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  border-top: 2px solid #7adfbb;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
}

.sticky-nav {
  position: fixed;
  left: 0;
  right: 0;
}
